@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mainColor: #5175FF;
$mainColor2nd: #829CFF;

$secondaryColor: #333950;
$secondaryColor2nd: #25293A;

$thirdColor:#747B95;
$thirdColor2nd:#F05B5B;

$main-font: 'Kumbh Sans', sans-serif;


*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: $main-font;
}

body {
    background-color: #F2F2F2;  
    
 }


.background-header {
    background-repeat: no-repeat;
    top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.header-logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 49.65px;
    margin-bottom: 90px;
    
   
}

.header-illu {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

}

.left-side {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;


    > h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;

    }

    > p {
        color: $thirdColor;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 24px;

    }

    > .btn1 {
        height: 56px;
        width: 171px;
        border-radius:28px;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        }

    >.btn1:hover {
        transition: 0.5s;
        background-color: $mainColor2nd;   
    }

    .left-title1 {
        display: none;
    }

    
}

.right-side {
    display: none;
}

.right-side-main{
    display: none;
    margin-right: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .card1 {

        
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 508px;
        width: 327px;
        border-radius: 13px;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        background-color: white;
        text-align: center;
        margin-bottom: 32px;

        .t-left {
            display: none;
        }

        .t-right {
            display: none;
        }

        > .c1 {
            font-size: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        > .c2 {
            font-size: 56px;
        }

        > .c3 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 56px;
        }

        > .c4 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }

        #p-end {
            margin-bottom: 32px;
        }

        .btn2 {
            height: 56px;
            width: 171px;
            border-radius:28px;
            background: rgb(81, 117, 255, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: $mainColor;
            cursor: pointer;
            text-decoration: none;
        }
        
    }

        .card2{
            @extend .card1;
            color: white;
            background-color:$mainColor;
            position: relative;
            overflow: hidden;
            margin-bottom: 32px;

            img {
                position: absolute; 
                overflow: hidden;
                top: 20px;  
                z-index:1;          
                
            }

            .btn3 {
                cursor: pointer;
                background-color: #F2F2F2;
                height: 56px;
                width: 171px;
                border-radius:28px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: $mainColor;
                z-index: 3;
                text-decoration: none;

            }
        }

        .card3 {
            @extend .card1;
            margin-bottom: 0px;
        }
}
footer {
    background: #25293A;
    height: 1248px;
    position: relative;
    z-index: -1;
    margin-top: -820px;
    display: flex;
    width: 100vw;
    flex-direction: column;

    .footer-box{
        padding-top: 896px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        > h4 {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 2px;
            >span {
                color: $mainColor;
                margin-left: 5px;
            }
        }

        .timer-box {
            display: flex;
            justify-content: center;
            color: white;
            margin-bottom: 40px;

            #days {
                height: 92px;
                width: 72px;
                border-radius: 4px;
                background-color: $secondaryColor;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-right: 13px;

                #days-num {
                    font-size: 32px;
                    font-weight: 700;
                    
                    > h5 {
                        font-size: 12px;
                    }
                }
            }

            #hours {
                @extend #days;
            }

            #minutes {
                @extend #hours;
            }

            #seconds {
                @extend #minutes;
            }

        }


        .footer-button {
            height: 56px;
            width: 171px;
            border-radius:28px;
            background-color: $mainColor;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

@media (min-width: 1280px) {
  
    .background-header {
        display: none;
        
    }

    .header-logo {
        display: block;
        padding-top: 76.65px;
        margin-bottom: 184px;
        margin-left: 39px;
        width: 30px;
    }

    .header-illu {
        display: none;
    }

    .sides {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .right-side {
            display: none;
        }
        
        .right-side-main{
            display: block;
            margin-right: 20px;
            top: 20;

            > img {
                position: relative;
                top: -64px;
            }
        }
    }

    .left-side {
        display: block;
        margin-bottom: 200px;
        margin-left: 39px;
        margin-right: 69px;
        width: 385px;


        h1 {
            text-align: start;
        }

        p {
            text-align: start;
        }

        .left-title1 {
            display: block;
        }

        .left-title{
            display: none;
        }

    }

    .cards {
        flex-direction: row;
        .card1 {

        }

        .card2 {
            margin-bottom: 195px;
            margin-left: 8px;
            margin-right: 8px;


        }

        .card3 {
            margin-bottom: 35px;
        }
    }

   footer {
    margin-top: -383px;
    height: 608px;

    

        .footer-box {
            padding-top: 309px;

            >h4 {
                font-size: 30px;
            }

            .timer-box {

                #days {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #days-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #hours {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #hours-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #minutes {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #min-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #seconds {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #sec-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                
            }

            .footer-button {
                font-size: 20px;
                width: 200px;
            }
        }
   }
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1024px) and (max-width: 1279px) {
    
    .background-header {
        display: none;
        
    }

    .header-logo {
        display: block;
        padding-top: 76.65px;
        margin-bottom: 184px;
        margin-left: 39px;
        width: 30px;
    }

    .header-illu {
        display: none;
    }

    .sides {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .right-side {
            display: none;
        }
        
        .right-side-main{
            display: block;
            margin-right: 20px;
            top: 20;

            > img {
                position: relative;
                top: -64px;
            }
        }
    }

    .left-side {
        display: block;
        margin-bottom: 200px;
        margin-left: 39px;
        margin-right: 69px;
        width: 385px;


        h1 {
            text-align: start;
        }

        p {
            text-align: start;
        }

        .left-title1 {
            display: block;
        }

        .left-title{
            display: none;
        }

    }

    .cards {
        flex-direction: row;
        .card1 {

        }

        .card2 {
            margin-bottom: 195px;
            margin-left: 8px;
            margin-right: 8px;


        }

        .card3 {
            margin-bottom: 35px;
        }
    }

   footer {
    margin-top: -383px;
    height: 608px;

    

        .footer-box {
            padding-top: 309px;

            >h4 {
                font-size: 30px;
            }

            .timer-box {

                #days {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #days-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #hours {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #hours-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #minutes {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #min-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #seconds {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #sec-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                
            }

            .footer-button {
                font-size: 20px;
                width: 200px;
            }
        }
   }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
    .background-header {
        display: none;
        
    }

    .header-logo {
        display: block;
        padding-top: 76.65px;
        margin-bottom: 104px;
        margin-left: 39px;
        width: 20px;
    }

    .header-illu {
        display: none;
    }

    .sides {
        display: flex;
        flex-direction: row;
    }

    .left-side {
        display: block;
        margin-bottom: 140px;
        margin-left: 39px;
        margin-right: 69px;
        width: 385px;


        h1 {
            text-align: start;
        }

        p {
            text-align: start;
        }

    }

    .right-side{
        display: block;
    }

    .btn3 {
        display: none;
    }

    .cards {

        .card1 {
            height: 316px;
            width: 689px;
            margin-bottom: 24px;
            display: grid;
            grid-template-columns: 50% 50%;
            text-align: start;

            >.c1 {
                display: none;
            }

            >.c2 {
                display: none;
            }

            >.c3 {
                display: none;
            }

            >.c4 {
                display: none;
            }

            >#p-end {
                display: none;
            }

            >.btn2 {
                display: none;
            }

            .t-left {
                display: block;
                margin-left: 48px;

                .c1 {
                    margin-bottom: 16px;
                    font-size: 20px;
                    font-weight: 700;
                }
    
                .c2 {
                    margin-bottom: 4px;
                    font-size: 56px;
                    font-weight: 700;
    
                }
    
                .c3 {
                    margin-bottom: 24px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .t-right {
                display: block;
                justify-content: center;
                align-items: center;
                line-height: 40px;
            }
        }

        .card2 {
            @extend .card1;

            img {
                display: none;
            }

            .btn3 {
                display: none;
            }


            
            .t-left {

                .btnRetry {
                    cursor: pointer;
                    background-color: #F2F2F2;
                    height: 56px;
                    width: 171px;
                    border-radius:28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: $mainColor;
                    z-index: 3;
                    text-decoration: none;
                }
            }
        }

        .card3 {
            @extend .card1;
        }
    }



    footer {
        margin-top: -521px;
        height: 880px;

        .footer-box {
            padding-top: 578px;
            
            > h4 {
                font-size: 16px;
            }
            
            .timer-box {

                #days {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #days-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #hours {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #hours-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #minutes {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #min-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                #seconds {
                    height: 128px;
                    width: 100px;
                    border-radius: 4px;
                    background-color: $secondaryColor;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
    
                    #sec-num {
                        font-size: 56px;
                        font-weight: 700;
                        
                        > h5 {
                            font-size: 16px;
                        }
                        
                    }

                }
                
            }

        }
    }
    
  }