@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mainColor: #5175FF;
$mainColor2nd: #829CFF;

$secondaryColor: #333950;
$secondaryColor2nd: #25293A;

$thirdColor:#747B95;
$thirdColor2nd:#F05B5B;

$main-font: 'Kumbh Sans', sans-serif;


*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: $main-font;
}

body {
    background-color: #F2F2F2;  
    
 }


.background-header {
    background-repeat: no-repeat;
    top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.header-logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 49.65px;
    margin-bottom: 90px;
    
   
}

.header-illu {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

}

.left-side {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    > h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;

    }

    > p {
        color: $thirdColor;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 24px;

    }

    > .btn1 {
        height: 56px;
        width: 171px;
        border-radius:28px;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        }

    >.btn1:hover {
        transition: 0.5s;
        background-color: $mainColor2nd;   
    }

    
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .card1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 508px;
        width: 327px;
        border-radius: 13px;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        background-color: white;
        text-align: center;
        margin-bottom: 32px;

        > h5 {
            font-size: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        > h1 {
            font-size: 56px;
        }

        > h6 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 56px;
        }

        > p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }

        .p-end {
            margin-bottom: 32px;
        }

        .btn2 {
            height: 56px;
            width: 171px;
            border-radius:28px;
            background: rgb(81, 117, 255, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: $mainColor;
            cursor: pointer;
            text-decoration: none;
        }
        
    }

        .card2{
            @extend .card1;
            color: white;
            background-color:$mainColor;
            position: relative;
            overflow: hidden;
            margin-bottom: 32px;

            img {
                position: absolute; 
                overflow: hidden;
                top: 20px;  
                z-index:1;          
                
            }

            .btn3 {
                cursor: pointer;
                background-color: #F2F2F2;
                height: 56px;
                width: 171px;
                border-radius:28px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: $mainColor;
                z-index: 3;
                text-decoration: none;

            }
        }

        .card3 {
            @extend .card1;
            margin-bottom: 0px;
        }
}
footer {
    background: #25293A;
    height: 1248px;
    position: relative;
    z-index: -1;
    margin-top: -820px;
    display: flex;
    width: 100vw;
    flex-direction: column;

    .footer-box{
        padding-top: 896px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        > h4 {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 2px;
            >span {
                color: $mainColor;
                margin-left: 5px;
            }
        }

        .timer-box {
            display: flex;
            justify-content: center;
            color: white;
            margin-bottom: 40px;

            #days {
                height: 92px;
                width: 72px;
                border-radius: 4px;
                background-color: $secondaryColor;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-right: 13px;

                #days-num {
                    font-size: 32px;
                    font-weight: 700;
                    
                    > h5 {
                        font-size: 12px;
                    }
                }
            }

            #hours {
                @extend #days;
            }

            #minutes {
                @extend #hours;
            }

            #seconds {
                @extend #minutes;
            }

        }


        .footer-button {
            height: 56px;
            width: 171px;
            border-radius:28px;
            background-color: $mainColor;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }
    }



}