@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
}

.background-header {
  background-repeat: no-repeat;
  top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.header-logo {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 49.65px;
  margin-bottom: 90px;
}

.header-illu {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.left-side > h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.left-side > p {
  color: #747B95;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.left-side > .btn1 {
  height: 56px;
  width: 171px;
  border-radius: 28px;
  background-color: #5175FF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.left-side > .btn1:hover {
  transition: 0.5s;
  background-color: #829CFF;
}
.left-side .left-title1 {
  display: none;
}
.left-side .left-description2 {
  display: none;
}

.right-side {
  display: none;
}

.right-side-main {
  display: none;
  margin-right: 20px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards .card1, .cards .card3, .cards .card2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 508px;
  width: 327px;
  border-radius: 13px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  background-color: white;
  text-align: center;
  margin-bottom: 32px;
}
.cards .card1 .t-left, .cards .card3 .t-left, .cards .card2 .t-left {
  display: none;
}
.cards .card1 .t-right, .cards .card3 .t-right, .cards .card2 .t-right {
  display: none;
}
.cards .card1 > .c1, .cards .card3 > .c1, .cards .card2 > .c1 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cards .card1 > .c2, .cards .card3 > .c2, .cards .card2 > .c2 {
  font-size: 56px;
}
.cards .card1 > .c3, .cards .card3 > .c3, .cards .card2 > .c3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 56px;
}
.cards .card1 > .c4, .cards .card3 > .c4, .cards .card2 > .c4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.cards .card1 #p-end, .cards .card3 #p-end, .cards .card2 #p-end {
  margin-bottom: 32px;
}
.cards .card1 .btn2, .cards .card3 .btn2, .cards .card2 .btn2 {
  height: 56px;
  width: 171px;
  border-radius: 28px;
  background: rgba(81, 117, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #5175FF;
  cursor: pointer;
  text-decoration: none;
}
.cards .card2 {
  color: white;
  background-color: #5175FF;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
.cards .card2 img {
  position: absolute;
  overflow: hidden;
  top: 20px;
  z-index: 1;
}
.cards .card2 .btn3 {
  cursor: pointer;
  background-color: #F2F2F2;
  height: 56px;
  width: 171px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #5175FF;
  z-index: 3;
  text-decoration: none;
}
.cards .card3 {
  margin-bottom: 0px;
}

footer {
  background: #25293A;
  height: 1248px;
  position: relative;
  z-index: -1;
  margin-top: -820px;
  display: flex;
  width: 100vw;
  flex-direction: column;
}
footer .footer-box {
  padding-top: 896px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .footer-box > h4 {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
}
footer .footer-box > h4 > span {
  color: #5175FF;
  margin-left: 5px;
}
footer .footer-box .timer-box {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 40px;
}
footer .footer-box .timer-box #days, footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
  height: 92px;
  width: 72px;
  border-radius: 4px;
  background-color: #333950;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 13px;
}
footer .footer-box .timer-box #days #days-num, footer .footer-box .timer-box #hours #days-num, footer .footer-box .timer-box #minutes #days-num, footer .footer-box .timer-box #seconds #days-num {
  font-size: 32px;
  font-weight: 700;
}
footer .footer-box .timer-box #days #days-num > h5, footer .footer-box .timer-box #hours #days-num > h5, footer .footer-box .timer-box #minutes #days-num > h5, footer .footer-box .timer-box #seconds #days-num > h5 {
  font-size: 12px;
}
footer .footer-box .footer-button {
  height: 56px;
  width: 171px;
  border-radius: 28px;
  background-color: #5175FF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .background-header {
    display: none;
  }
  .header-logo {
    display: block;
    padding-top: 76.65px;
    margin-bottom: 184px;
    margin-left: 165px;
    width: 60px;
  }
  .header-illu {
    display: none;
  }
  .sides {
    display: flex;
    flex-direction: row;
    margin-left: 165px;
  }
  .sides .right-side {
    display: none;
  }
  .sides .right-side-main {
    display: block;
    margin-right: 20px;
    top: 20;
  }
  .sides .right-side-main > img {
    position: relative;
    top: -64px;
  }
  .left-side {
    display: block;
    margin-bottom: 255px;
    margin-right: 95px;
    width: 540px;
  }
  .left-side h1 {
    color: #333950;
    text-align: start;
  }
  .left-side p {
    text-align: start;
  }
  .left-side .left-title1 {
    font-size: 56px;
    display: block;
  }
  .left-side .left-title {
    display: none;
  }
  .left-side .left-description {
    display: block;
  }
  .cards {
    flex-direction: row;
  }
  .cards .card1, .cards .card2, .cards .card3 {
    height: 508px;
  }
  .cards .card2 {
    height: 508px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .cards .card3 {
    height: 508px;
    margin-bottom: 35px;
  }
  footer {
    margin-top: -296px;
    height: 600px;
  }
  footer .footer-box {
    padding-top: 302px;
    display: block;
  }
  footer .footer-box > h4 {
    font-size: 16px;
    display: block;
    margin-left: 220px;
  }
  footer .footer-box .timer-box {
    justify-content: flex-start;
    margin-left: 220px;
  }
  footer .footer-box .timer-box #days, footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #days #days-num, footer .footer-box .timer-box #hours #days-num, footer .footer-box .timer-box #minutes #days-num, footer .footer-box .timer-box #seconds #days-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #days #days-num > h5, footer .footer-box .timer-box #hours #days-num > h5, footer .footer-box .timer-box #minutes #days-num > h5, footer .footer-box .timer-box #seconds #days-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #hours #hours-num, footer .footer-box .timer-box #minutes #hours-num, footer .footer-box .timer-box #seconds #hours-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #hours #hours-num > h5, footer .footer-box .timer-box #minutes #hours-num > h5, footer .footer-box .timer-box #seconds #hours-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #minutes #min-num, footer .footer-box .timer-box #seconds #min-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #minutes #min-num > h5, footer .footer-box .timer-box #seconds #min-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #seconds #sec-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #seconds #sec-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .footer-button {
    display: none;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1024px) and (max-width: 1279px) {
  .background-header {
    display: none;
  }
  .header-logo {
    display: block;
    padding-top: 76.65px;
    margin-bottom: 184px;
    margin-left: 39px;
    width: 30px;
  }
  .header-illu {
    display: none;
  }
  .sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sides .right-side {
    display: none;
  }
  .sides .right-side-main {
    display: block;
    margin-right: 20px;
    top: 20;
  }
  .sides .right-side-main > img {
    position: relative;
    top: -64px;
  }
  .left-side {
    display: block;
    margin-bottom: 200px;
    margin-left: 39px;
    margin-right: 69px;
    width: 385px;
  }
  .left-side h1 {
    text-align: start;
  }
  .left-side p {
    text-align: start;
  }
  .left-side .left-title1 {
    display: block;
  }
  .left-side .left-title {
    display: none;
  }
  .left-side .left-description2 {
    display: none;
  }
  .cards {
    flex-direction: row;
  }
  .cards .card2 {
    margin-bottom: 195px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .cards .card3 {
    margin-bottom: 35px;
  }
  footer {
    margin-top: -383px;
    height: 608px;
  }
  footer .footer-box {
    padding-top: 309px;
  }
  footer .footer-box > h4 {
    font-size: 30px;
  }
  footer .footer-box .timer-box #days, footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #days #days-num, footer .footer-box .timer-box #hours #days-num, footer .footer-box .timer-box #minutes #days-num, footer .footer-box .timer-box #seconds #days-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #days #days-num > h5, footer .footer-box .timer-box #hours #days-num > h5, footer .footer-box .timer-box #minutes #days-num > h5, footer .footer-box .timer-box #seconds #days-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #hours #hours-num, footer .footer-box .timer-box #minutes #hours-num, footer .footer-box .timer-box #seconds #hours-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #hours #hours-num > h5, footer .footer-box .timer-box #minutes #hours-num > h5, footer .footer-box .timer-box #seconds #hours-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #minutes #min-num, footer .footer-box .timer-box #seconds #min-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #minutes #min-num > h5, footer .footer-box .timer-box #seconds #min-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #seconds #sec-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #seconds #sec-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .footer-button {
    font-size: 20px;
    width: 200px;
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1023px) {
  .background-header {
    display: none;
  }
  .header-logo {
    display: block;
    padding-top: 76.65px;
    margin-bottom: 104px;
    margin-left: 39px;
    width: 20px;
  }
  .header-illu {
    display: none;
  }
  .sides {
    display: flex;
    flex-direction: row;
  }
  .left-side {
    display: block;
    margin-bottom: 140px;
    margin-left: 39px;
    margin-right: 69px;
    width: 385px;
  }
  .left-side h1 {
    text-align: start;
  }
  .left-side p {
    text-align: start;
  }
  .right-side {
    display: block;
  }
  .btn3 {
    display: none;
  }
  .cards .card1, .cards .card2, .cards .card3 {
    height: 316px;
    width: 689px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: start;
  }
  .cards .card1 > .c1, .cards .card2 > .c1, .cards .card3 > .c1 {
    display: none;
  }
  .cards .card1 > .c2, .cards .card2 > .c2, .cards .card3 > .c2 {
    display: none;
  }
  .cards .card1 > .c3, .cards .card2 > .c3, .cards .card3 > .c3 {
    display: none;
  }
  .cards .card1 > .c4, .cards .card2 > .c4, .cards .card3 > .c4 {
    display: none;
  }
  .cards .card1 > #p-end, .cards .card2 > #p-end, .cards .card3 > #p-end {
    display: none;
  }
  .cards .card1 > .btn2, .cards .card2 > .btn2, .cards .card3 > .btn2 {
    display: none;
  }
  .cards .card1 .t-left, .cards .card2 .t-left, .cards .card3 .t-left {
    display: block;
    margin-left: 48px;
  }
  .cards .card1 .t-left .c1, .cards .card2 .t-left .c1, .cards .card3 .t-left .c1 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
  }
  .cards .card1 .t-left .c2, .cards .card2 .t-left .c2, .cards .card3 .t-left .c2 {
    margin-bottom: 4px;
    font-size: 56px;
    font-weight: 700;
  }
  .cards .card1 .t-left .c3, .cards .card2 .t-left .c3, .cards .card3 .t-left .c3 {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  .cards .card1 .t-right, .cards .card2 .t-right, .cards .card3 .t-right {
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
  .cards .card2 img {
    display: none;
  }
  .cards .card2 .btn3 {
    display: none;
  }
  .cards .card2 .t-left .btnRetry {
    cursor: pointer;
    background-color: #F2F2F2;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #5175FF;
    z-index: 3;
    text-decoration: none;
  }
  footer {
    margin-top: -521px;
    height: 880px;
  }
  footer .footer-box {
    padding-top: 578px;
  }
  footer .footer-box > h4 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #days, footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #days #days-num, footer .footer-box .timer-box #hours #days-num, footer .footer-box .timer-box #minutes #days-num, footer .footer-box .timer-box #seconds #days-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #days #days-num > h5, footer .footer-box .timer-box #hours #days-num > h5, footer .footer-box .timer-box #minutes #days-num > h5, footer .footer-box .timer-box #seconds #days-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #hours, footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #hours #hours-num, footer .footer-box .timer-box #minutes #hours-num, footer .footer-box .timer-box #seconds #hours-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #hours #hours-num > h5, footer .footer-box .timer-box #minutes #hours-num > h5, footer .footer-box .timer-box #seconds #hours-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #minutes, footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #minutes #min-num, footer .footer-box .timer-box #seconds #min-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #minutes #min-num > h5, footer .footer-box .timer-box #seconds #min-num > h5 {
    font-size: 16px;
  }
  footer .footer-box .timer-box #seconds {
    height: 128px;
    width: 100px;
    border-radius: 4px;
    background-color: #333950;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
  }
  footer .footer-box .timer-box #seconds #sec-num {
    font-size: 56px;
    font-weight: 700;
  }
  footer .footer-box .timer-box #seconds #sec-num > h5 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */